* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    height: 100%;
    background: url("/images/background.jpg");
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #0fa900;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    color: #22a5ed;
}

.red {
    color: #c94d32;
}

.green {
    color: #0fa900;
}

.blue {
    color: #22a5ed;
}

.wrapper {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 10px,  0 0 40px rgba(255, 255, 255, 0.1) inset;
}

#header > .wrapper > h1 {
    padding-top: 15px;
}

.page-body {
    padding-top: 20px;
}

.column {
    float: left;
    position: relative;
    width: 100%;
    margin-left: 10px;
}

.column-header {
    font-weight: bold;
}

.results > li {
    width: 100%;
    margin-top: 10px;
    background: white;
}

.results-element {
    list-style-type: none;
    width: 100%;
}

.results-element:hover {
    color:black;
    -webkit-transition:color 500ms ease-in;
    -moz-transition:color 500ms ease-in;
    -o-transition:color 500ms ease-in;
    transition:color 500ms ease-in;
}

.results-element-header {
    margin: 8px 3px 3px 3px;
    font-size: 26px;
    font-weight: bold;
    color: #0fa900;
}

.results-element-test {
    margin: 3px;
    font-size: 22px;
    font-weight: bold;
}

.results-element-result {
    text-align: right;
}

.element-link {
    text-decoration: none;
}

input[type="text"] {
    width: 920px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}

.style-1 input[type="text"] {
    padding: 8px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.accept-button {
    -moz-box-shadow: 0px 1px 13px 3px #bbdaf7;
    -webkit-box-shadow: 0px 1px 13px 3px #bbdaf7;
    box-shadow: 0px 1px 13px 3px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: inherit;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;

    margin: 10px;
}
.accept-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.accept-button:active {
    position:relative;
    top:1px;
}